body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #54baea, #a5753f); 
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body:hover{
    background:linear-gradient(135deg ,#54baea,#a5753f );
}

.contact-form {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    border-radius: 5px;
}
.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e9da0a;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    background:linear-gradient(135deg ,#54baea, #a5753f);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;

}
.contact-form button:hover {
    background-color: #ff3385; 
    background:linear-gradient(135deg ,#3f77d0,#e9da0a );
}
label {
    text-align: left;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}
footer{
    background-color: black;
    color: white;
}